* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/djsans/DejaVuSans.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Kaushan Script";
    src: url("fonts/Kaushan Script.ttf");
}
@font-face {
    font-family: "Montsserat";
    src: url("fonts/Montserrat.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto-thin.ttf");
}

.baner {
    background: url(img/background.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 1018px;
    z-index: -1;
}

.baner::before {
    opacity: 0.9;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient( #e88683 24%, #ebd188 71%);
    width: 100%;
    height: 100%;

}

.container {
    width: 100%;
    max-width: 1200px;
    text-align: center;

}
.baner-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;

}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}


.main-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-menu li {
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 152px;
}

.main-menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "DejaVu Sans", sans-serif;
    border: 3px solid transparent;
    padding-bottom: 10px;


}

.main-menu a:hover {
    color: yellow;
    border-bottom: 3px yellow solid;
    /*font-weight: bold;*/
    text-decoration: none;
    transition: all 0.5s ease;
}

.headline h2 {
    font-size: 72px;
    font-family: "Kaushan Script";
    color: white;
    text-align: center;
    padding:0;
    margin:0;
}

.headline h1 {
    font-size: 150px;
    font-family: "Montsserat";
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin:0;
    padding-bottom: 62px;
}

.line {
    width: 61px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 46px;
}

.button-learn-more {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 3px solid white;
    padding: 16px 35px;
    margin-bottom: 322px;
    font-family: "DejaVu Sans", sans-serif;
}

.button-learn-more:hover {
    color: yellow;
    border: 3px yellow solid;
    transition: all 0.5s ease;
}

.about-us-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;

}
.story-gallery-item {
    background-color: #95e1d3;
    width: 378px;
    height: 240px;
    transition: .5s ease-in-out;
}

.story-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-gallery-item:hover {
    position: relative;
    transition: all 0.9s ease;
}

.story-gallery-item:hover > img {
    position: absolute;
    transition: 2s 2s all ease;
    top: -10px;
    left: -10px;
}
.story-gallery-container {
    display: flex;
    justify-content: space-between;
}
.story-gallery-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.story-gallery-item {
    position: relative;
}

.story-gallery-item:hover::before {
    top: -10px;
    left: -10px;
    position: absolute;
    background: linear-gradient( #e88683 24%, #ebd188 71%);
    z-index: 1123;
}

.story-gallery-content {
    width: 118px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
   //background-image: url("img/block.png");
}

.story-gallery-item:hover > .story-gallery-content {
    z-index: 123324;
    display: block;
}


.what-do {
    font-family: "Kaushan Script";
}

h3 {
    font-family: "Montsserat";
    text-transform: uppercase;

}

.line-decor {
    padding-bottom: 40px;
}

.text {
    display: inline-block;
    color: #999999;
    font-family: "DejaVu Sans";
    padding-bottom: 100px;
    margin-left: -67px;
 }

.facts {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
   margin-top: 50px;
    height: auto;
    background-color: #95e1d3;
    margin: 70px auto;
    color: white;

}

.facts-container {
    display: flex;
}

.facts-info {
    display: inline-block;
    width: 20%;
    height: 256px;

}
.facts h2 {
    font-family: "Montsserat", sans-serif;
    font-size: 60px;
}

.facts p {
    font-family: "DejaVu Sans", sans-serif;
    text-transform: uppercase;
}

.service {
    margin-bottom: 56px;
}

.work-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

h4 {
    text-align: left;
    text-transform: uppercase;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 14px;
    margin: 0;
}

.item .text {
   text-align:left;
}
.interface {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    display: flex;
    vertical-align: top;
    width: 33%;
}

.interface .icon {
    display: inline-block;
    width: 37px;
    height: 33px;
    background: url("img/alarm.svg") no-repeat;
    margin-right: 85px;
}



.feature {
    background: url(img/nature.png);
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    width: 100%;
    height: 815px;
    z-index: -1;
    margin-bottom: 113px;
}

.feature-text{
    position: relative;
    text-align: center;
    z-index: 2;
    top: 80px;
}

.layer {
   background-color:  rgba(255,255,255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.display {
    background: url(img/display.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.iphone {
    background: url(img/iphone.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    top: 260px;
    right: 517px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.service-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}
.we-do-container {
    display: flex;
    justify-content: center;
}
.we-do {
    display: flex;
    background-image: url("img/we-do.png");
    width: 560px;
    height: 380px;

}
ul.list-column {
    margin: 0 auto;
}
.content-column {
    display: flex;
    width: 592px;
    margin: 0;
}


.photography, .creativity, .web-design {
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Montsserat";
    border-top: 1px solid lightgray;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 14px;
}

.web-design {
    border-bottom: 1px solid lightgray;
}

.list-title-container {
    display: flex;
    align-items: center;
}

.little-title-img {
    margin-right: 15px;
}
.element-photography {
    margin-right: 354px;
}


.element-creativity {
    margin-right: 383px;
}

.element-web-design {
    margin-right: 372px;
}

.photography {
    margin-top: 0;
}
.arrow {
    display: flex;
}

.text-column {
    list-style-type: none;
    border-bottom: 1px solid lightgray;
    height: 135px;
}

.text-column-content {
    overflow-y: scroll;
    display: block;
    height: 107px;
}

.text-column-content::-webkit-scrollbar {
    width: 6px;
}
.text-column-content::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.text-column-content::-webkit-scrollbar-thumb {
    background-image: url("img/scroll.png");
    background-repeat: no-repeat;
}

.text-column p {
    text-transform: none;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: normal;
    color: #999999;
}

.line-decor {
   padding-bottom: 40px;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 50px;
    height: auto;
    margin: 70px auto;

}
.speech {
    border: 2px solid #95e1d3;
    padding: 35px;
    margin-right: 50px;
}


blockquote {
    display: inline-block;
    color: #999999;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
}


.line-blockquote-wrapper {
    display: flex;
}
.container-quote {
    padding: 60px 0;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container-quote {
    display: flex;
    align-items: center;
}

/*our team*/

.our-team-container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.team-gallery-item {
    background-color: #95e1d3;
    width: 380px;
    height: 465px;
}

.team-gallery-item img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.team-gallery-item:hover {
    position: relative;
    transition: all 0.9s ease;
}

.team-gallery-item:hover > .story-gallery-icon {
    position: absolute;
    transition: 2s 2s all ease;
    top: -10px;
    left: -10px;
}
.our-team-container .story-gallery-content {
    background-color: yellow;
    height: 54px;
    width: 217px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-block {
    display: inline-flex;
    position: relative;
   // width: 52px;
    //height: 52px;
    //object-fit: cover;
    margin-left: auto;
    margin-right: auto
}

.team-gallery-container {
    display: flex;
    justify-content: space-between;
}

.opacity-text {
    color: white;
    text-transform: uppercase;
    font-family: "DejaVu Sans";
    font-weight: bold;
    padding: 0;
    margin: 6px;
}

.facebook {
    width: 15px;
    height: 15px;
    object-fit: cover;
    /*margin-top: 78px;*/
}

.collaborators {
    display: flex;
    justify-content: space-around;
}
.collaborator-name {
    font-size: 14px;
    font-family: "Montsserat";
    text-transform: uppercase;
    margin:0;
    padding: 0;
    padding-top: 30px;
}
.collaborator-position {
    font-family: "Roboto";
    color: #999999;
    line-height: 0;

}

.logos {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 50px;
    height: auto;
    margin: 70px auto;
    padding-top: 65px;
    padding-bottom: 65px;
}

.work {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.first-row {
    margin-top: 69px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/*.work-gallery-img::before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*opacity: .8;*/
/*}*/
/*.work-gallery-img:hover::before {*/
    /*position: absolute;*/
    /*background: linear-gradient( #e88683 24%, #ebd188 71%);*/
    /*z-index: 1123;*/
/*}*/


.second-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
}
.see-man,.bridge,.medusa,.ceiling,.long-bridge,.roof-sky,.roof {
    width: 470px;
}

.see-man,.bridge,.ceiling,.long-bridge,.roof-sky,.roof {
    height: 388px;
}
.medusa {
    height: 776px;
}

.hidden {
    display: none;
}

.arrow-up {
    display: flex;
    transform: rotate(180deg);
}
.long-bridge {
    position: relative;
    bottom: 388px;
}
.roof-sky {
    position: relative;
    right: 235px;
    bottom: 388px;
}
.roof {
    position: relative;
    bottom: 388px;
}

.testimonial-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    /*margin-top: 50px;*/
    height: auto;
    /*margin: 70px auto;*/
    top: -240px;

}

.line-blockquote-wrapper {
    display: flex;
}

.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35px;

}
.testimonial {
    display: flex;
    align-items: center;
}
.photo-joe {
    width: 207px;
    height: 207px;
    margin: 0 auto;
    overflow: hidden;
}
.speech-joe {
    border-radius: 50%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-right: 50px;
}
img.speech-joe {
    object-fit: cover;
}

.open-man {
    display: flex;
    justify-content: center;
    background-image: url("img/open-man.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 50px;
    height: auto;
    margin: 70px auto;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
}

.layer-open-man {
    background-color:  rgba(255,255,255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.open-man h3 {
    color: #f38181;
}
.work-gallery {
    display: flex;
    width: 100%;
}
.work-gallery-block {
    display: flex;
    flex-wrap: wrap;
}
.open-man-text {
    z-index: 5;
    text-align: center;
}